<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David's To Do App</title>

    <link rel="stylesheet" href="../static/styles.css">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">-->

</head>

<body>

    <div style="margin-top: 60px;">
        <h1>David's To Do App</h1>

        <form action="/add" method="post">
            <div class="field">
                <!--<label>Task Name</label>-->
                <input type="text" name="title" placeholder="Enter Task Name..."><br>
            </div>
            <button type="submit">Add</button>
            <input type="checkbox" id="priorityCheck" name="priorityCheck">
            <p class="priorityLabel" for="priorityCheck">Make Top Priority</p>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="entry">
            {% if todo.complete == False %}
            <p class="notcomplete">{{todo.number }} | {{ todo.title }}</p>
            <a class="delbtn" href="/delete/{{ todo.id }}">Delete</a>
            <a class="completebtn" href="/update/{{ todo.id }}">Mark Complete</a>
            {% else %}
            <p class="complete">{{todo.number }} | {{ todo.title }}</p>
            <a class="delbtn" href="/delete/{{ todo.id }}">Delete</a>
            <a class="notcompletebtn" href="/update/{{ todo.id }}">Mark Not Complete</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</body>

</html>